{{#extends 'base'}}

{{#block "content"}}




<form method="GET">
    {{{form}}}
    <input type="submit" class="btn btn-primary mb-3 mt-3" value="Search" />


</form>


<h1>All Titles</h1>
<table class="table">
    <thead>
        <th>Title</th>
        <th>Cost</th>
        <th>Description</th>
        <th>Date</th>
        <th>Stock</th>
        <th>Height</th>
        <th>Width</th>
        <th>Media Property</th>
        <th>Tags</th>
        <th></th>

    </thead>

    <tbody>
        {{#each titles}}
        <tr>

            <td>{{this.title}}</td>
            <td>{{this.cost}}</td>
            <td>{{this.description}}</td>
            <td>{{this.date}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.height}}</td>
            <td>{{this.width}}</td>
            <td>{{this.media_property_id}}</td>
            <td>
                {{#each this.tags}}
                <span class="badge bg-primary">{{this.name}}</span>
                {{/each}}

            </td>
            <td style="width: 100px">
                <a href="/cart/{{this.id}}/add" class="btn btn-primary">Add to Cart</a>
                <a href="/titles/update/{{this.id}}" class="btn btn-primary btn-sm" />Edit</a>
                <a href="/titles/delete/{{this.id}}" class="btn btn-danger btn-sm" />Delete</a>

            </td>
        </tr>
        {{/each}}
    </tbody>

</table>

{{/block}}

{{/extends}}